{% extends "base.html" %}
{% block content %}

<h2>Items</h2>
<div>
    <form action="/items/category" method="POST">
        <label for="category">Filter by category:</label>
        <select name="category" id="category">
            <option value="" disabled selected>-- Select a category --</option>
            <option value="Armour">Armour</option>
            <option value="Gemstones">Gemstones</option>
            <option value="Weapons">Weapons</option>
        </select>
        <input type="submit">
    </form>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Stock</th>
            <th>Manufacturer</th>
        </tr>
        {% for item in items %}
        <tr>
            <td><a href="/items/{{ item.id }}">{{ item.name }}</a></td>
            <td>{{ item.category }}</td>
            {% if item.sold_out == True %}
                <td class="sold_out">Sold Out!</td>
            {% elif item.low_stock == True %}
                <td class="low_stock">Low Stock!</td>
            {% else %}
                <td>{{ item.stock }}</td>
            {% endif %}
            <td>{{ item.manufacturer.name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>

</div>

{% endblock %}