{% extends "base.html" %}
{% block content %}

<div>
    <p>Item Names: {{item.name}}</p>
    <p>Description: {{item.description}}</p>
    <hr>
    <p>Buy Cost Per Unit: {{item.buy_cost}}</p>
    <p>Sell Price Per Unit: {{item.sell_price}}</p>
    <p>Stock On Hand: {{item.stock}}</p>
    <hr>
    <p>Category: {{ item.category }}</p>
    <p>Manufacturer: <a href="/manufacturers/{{ item.manufacturer.id }}">{{ item.manufacturer.name }}</a></p>
    {% if item.sold_out == True %}
        <p class="sold_out">Sold Out!</p>
    {% elif item.low_stock == True %}
        <p class="low_stock">Low Stock!</p>
    {% endif %}
    <hr>
    <p>{{item.id}}</p>
    <p>{{item.name}}</p>
    <form action="/items/{{ item.id }}/edit">
        <input type="submit" value="edit">
    </form>
    <form action="/items/{{ item.id }}/delete" method="POST">
        <input type="submit" value="delete" data-confirm="Are you sure to delete this Manufacturer?">
    </form>
</div>

{% endblock %}