{% extends "base.html" %}
{% block content %}

<h2>Manufacturers</h2>
<div>
    <form action="/manufacturers/category" method="POST">
        <label for="category">Filter by category:</label>
        <select name="category" id="category">
            <option value="" disabled selected>-- Select a category --</option>
            <option value="Armour">Armour</option>
            <option value="Gemstones">Gemstones</option>
            <option value="Weapons">Weapons</option>
        </select>
        <input type="submit">
    </form>
</div>
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Active</th>
        </tr>
        {% for manufacturer in manufacturers %}
        <tr>
            <td><a href="/manufacturers/{{ manufacturer.id }}">{{ manufacturer.name }}</a></td>
            <td>{{ manufacturer.category }}</td>
            {% if manufacturer.active == False %}
                <td class="inactive">Inactive!</td>
            {% else %}
                <td class="active">Active</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}