{% extends "base.html" %}
{% block content %}

<div>
    <p>Manufacturer Name: {{manufacturer.name}}</p>
    <p>Description: {{manufacturer.description}}</p>
    <hr>
    <p>Category: {{manufacturer.category}}</p>
    {% if manufacturer.active == False %}
        <p class="inactive">Inactive!</p>
    {% else %}
        <p class="active">Active</p>
    {% endif %}
    <hr>
    <p><a href="/manufacturers/{{manufacturer.id}}/edit">Edit</a></p>
</div>

Show all the details for an individual item line.
have a button link to edit.
extention - add delete button that creates an alert to check before deletion then reroutes to the index.


{% endblock %}